<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
        <form action="reset" method="post" enctype="multipart/form-data" onsubmit="return test()">
                <input type="hidden" name="email" value="{{email}}">
        <input type="password" class="input-box" name="pwd" id="pwd" placeholder="New password"> <br>
        <input type="password" class="input-box" name="cpwd" id="cpwd" placeholder="confirm password"> <br>
        <button type="submit" value="submit" class="btn_3">Submit</button>
</body>
<script>
            function test() {
                var pwd=document.getElementById("pwd").value;

                var cpwd=document.getElementById("cpwd").value;
                if(pwd == cpwd){
                    return true;
                }
                else{
                    alert( "password and confirm password are not correct")
                    return false;
                }
            }



        </script>
</html>