

<html>

<head>
	<body>
<h1 align="center"> PARTYWEAR </h1>
<form action="" method="POST">
<table>

</table>
</head>

<table>
	<tr>
	     <th> <p> <a href="/productdes"> <img src="../static/t1.jpg" width="200" height="200" style="margin-top:30px"></a></p> </th>

	     <th> <p> <img src="../static/t3.jpg" width="200" height="200" style="margin-top:30px">&emsp;</p> </th>
	     <th> <p> <img src="../static/t2.jpg" width="200" height="200" style="margin-top:30px">&emsp;</p> </th>
	     <th> <p> <img src="../static/t4.jpg" width="200" height="200" style="margin-top:30px">&emsp;</p> </th>
	     <th> <p> <img src="../static/t1.jpg" width="200" height="200" style="margin-top:30px">&emsp;</p> </th>
	     <th> <p> <img src="../static/t2.jpg" width="200" height="200" style="margin-top:30px">&emsp;</p> </th>
	</tr>

	<tr>
	     <th> <p><a href="Shirts"> Royal blue solid party wear </a> </p> <button type="button" style="margin-right:10px"02> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button> </th>
	     <th><p> <a href="Jeans"> Men Blazer  </a></p> <button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button> </th>
	     <th> <p> <a href="T-Shirts">  Party Wear Jacquard Fabric Indowestern In Navy Blue Color</a> </p> <button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button> </th>
	     <th><p> <a href="Sports"> Maroon Mens Party Wear Suit </a> </p><button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button> </th>
	     <th> <p><a href="Electronics">  Mens Party Wear Suit </a></p><button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button>  </th>
	     <th> <p><a href="Beauty"> Men Blazer </a></p><button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button>  </th>
	</tr>

	<tr>
	     <th> <p> <img src="../static/t4.jpg" width="200" height="205" style="margin-top:30px"></p> </th>
	     <th> <p> <img src="../static/t1.jpg" width="200" height="205" style="margin-top:30px"></p> </th>
	     <th> <p> <img src="../static/t3.jpg" width="200" height="205" style="margin-top:30px"></p> </th>
	     <th> <p> <img src="../static/t2.jpg" width="200" height="205" style="margin-top:30px"></p> </th>
	     <th> <p> <img src="../static/t4.jpg" width="200" height="205" style="margin-top:30px"></p> </th>
	     <th> <p> <img src="../static/t1.jpg" width="200" height="205" style="margin-top:30px"></p> </th>
	</tr>

	<tr>
		<th><p> <a href="Noodles"> Party Wear Jacquard Fabric </a></p><a href="/checkout"><button type="button" style="margin-right:10px"> Buy Now </button> </a> <a href="/addcart"><button type="button" style="margin-right:10px"> Add To Cart </button> </a> </th>
	     <th> <p><a href="Shoes"> Men Blazer  </a> </p><button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button> </th>
	     <th> <p><a href="Mask"> tuxedo wedding </a></p><button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button> </th>
	     <th> <p><a href="HandWash"> Maroon Mens Party Wear Suit</a></p><button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button>  </th>
	     <th> <p><a href="Bags"> Party Wear Jacquard Fabric Indowestern In Navy Blue Color </a> </p><button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button> </th>
	     <th> <p> <a href="AC"> tuxedo wedding</a> </p><button type="button" style="margin-right:10px"> Buy Now </button>  <button type="button" style="margin-right:10px"> Add To Cart </button> </th>
	</tr>

</table>
</form>
</body>

</html>