 <!doctype html>

<html>

<head>
<h1 align="center"> T Shirts </h1>
</head>

<body>

<table>
	<tr>
	     <th> <p> <img src="../static/img/tranding_item/banner.png" width="200" height="200">&emsp;</p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b2.jpg" width="200" height="200">&emsp;</p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b3.jpg" width="200" height="200">&emsp;</p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b1.jpg" width="200" height="200">&emsp;</p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b2.jpg" width="200" height="200">&emsp;</p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b3.jpg" width="200" height="200">&emsp;</p> </th>
	</tr>

	<tr>
	     <th> Rs.350 </th>
	     <th> Rs.450 </th>
	     <th> Rs.400 </th>
	     <th> Rs.360 </th>
	     <th> Rs.650 </th>
	     <th> Rs.950 </th>
	</tr>

	<tr>
	     <th> <p> <img src="../static/img/tranding_item/b1.jpg" width="200" height="205"></p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b2.jpg" width="200" height="205"></p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b3.jpg" width="200" height="205"></p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b1.jpg" width="200" height="205"></p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b2.jpg" width="200" height="205"></p> </th>
	     <th> <p> <img src="../static/img/tranding_item/b3.jpg" width="200" height="205"></p> </th>
	</tr>

	<tr>
	     <th> Rs.750 </th>
	     <th> Rs.650 </th>
	     <th> Rs.700 </th>
	     <th> Rs.220 </th>
	     <th> Rs.440 </th>
	     <th> Rs.420 </th>
	</tr>
	
</table>

</body>

</html> 